h1 {
    text-align: center;
    margin-top: 40px;
}

.login {
    font-size: 25px;
    margin-left: 250px;
}

.form-Login {
    border-radius: 8px;
}
.login .form-Login{
    width: 1010px;
}
.check {
    margin-left: 250px;
    margin-top: 300px;
    font-size: 25px;
    margin-top: 30px;
    justify-content: center;
}

.btn {
    font-size: 25px;
}

.buttonLogin {
    margin-left: 250px;
    margin-top: 10px;
    width: 1010px;
    font-size: 25px;
    background-color: #ddd;
}