.blogcss {
    font-size: 30px;
    margin-left: 120px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.onlineblog {
    margin-left: 120px;
}