.Storelogo {
    margin-right: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.image .sweater {
    text-decoration: none;
    color: cornflowerblue;
}

.heading {
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.image {
    position: relative;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    margin-left: 20px;
    width: 440px;
}

.contruct {
    position: relative;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    margin-left: 20px;
    width: 400px;
}

.contruct .sweater {
    text-decoration: none;
    color: cornflowerblue;
}

.money {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

del {
    font-size: 18px;
}

.hotProducts {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.umbrella {
    font-family:'Times New Roman', Times, serif;
    margin-top: 25px;
    background-color: whitesmoke;
    width: 1260px;
    height: 520px;
    margin-left: 120px;
    font-size: 25px;
}

.umbreImg {
    width: 650px;
    height: 400px;
}
a {
    font-size: 18px;
    text-decoration: none;
}

.umbrella a:hover {
    color: red;
    text-decoration: none;
}

p {
    font-size: 20px;
}

.formationsucess {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.formationStruc {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 120px;
    margin-top: 20px;
    font-size: 22px;
}

.formationStruc ul a:hover {
    text-decoration: none;
    color: red;
}